.dice-container {
  width: 15vmin;
  height: 15vmin;
  transform-style: preserve-3d;
}

.dice {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg) translateX(0);
  width: 100%;
  height: 100%;
}

.face {
  display: grid;
  position: absolute;
  grid-template-areas:
      "a . c"
      "e g f"
      "d . b";
  
  flex: 0 0 auto;
  margin: 1.5vmin;    
  padding: 1.5vmin;
  
  background-color: #e7e7e7;
  width: 15vmin;
  height: 15vmin;
  object-fit: contain;
  
  box-shadow:
    inset 0 0.75vmin white, 
    inset 0 -0.75vmin #bbb,
    inset 0.75vmin 0 #d7d7d7, 
    inset -0.75vmin 0 #d7d7d7;
  
  border-radius: 10%;
}

.dot {
  display: block;
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  margin: 0.75vmin;
  align-self: center;
  justify-self: center;
  

  background-color: #333;
  box-shadow: inset 0 0.4vmin #111, inset 0 -0.4vmin #555;
}

.dot:nth-child(2) {
  grid-area: b;
}
.dot:nth-child(3) {
  grid-area: c;
}
.dot:nth-child(4) {
  grid-area: d;
}
.dot:nth-child(5) {
  grid-area: e;
}
.dot:nth-child(6) {
  grid-area: f;
}
.dot:nth-child(odd):last-child {
  grid-area: g;
}

.front {
  transform: rotateY(0deg) translateZ(15vmin);
}
.back {
  transform: rotateX(180deg) translateZ(15vmin);
}
.left {
 transform: rotateY(-90deg) translateZ(15vmin);
}
.right {
transform: rotateY(90deg) translateZ(15vmin);
}
.top {
transform: rotateX(90deg) translateZ(15vmin);
}
.bottom {
transform: rotateX(-90deg) translateZ(15vmin);
}