.token {
    border-radius: 50%;
    width: 5vmin;
    height: 5vmin;
}

.token-green {
    background-color: limegreen;
    box-shadow: inset 0 0.7vmin lightgreen, inset 0 -0.7vmin darkgreen;
}

.token-yellow {
    background-color: yellow;
    box-shadow: inset 0 0.7vmin lightyellow, inset 0 -0.7vmin orange;
}

.token-red {
    background-color: red;
    box-shadow: inset 0 0.4vmin pink, inset 0 -0.4vmin darkred;
}

.token-blue {
    background-color: blue;
    box-shadow: inset 0 0.4vmin lightblue, inset 0 -0.4vmin darkblue;
}